
header > h1 {background-color: dodgerblue;
    color: white;}

footer { background-color: dodgerblue;}

.top-page-links {
    background-color: dodgerblue;
}

main > article {
    text-align: center;
}